body {
  margin: 0 auto;
  padding-bottom: 1em;
  color: $text-color;
  font-family: $text-font;
}

img {
  width: auto;
  margin: 0 auto;
  display: block;
}

.caption {
  text-align: center; 
  font-style: italic; 
  margin-top: -1rem;
}

a {
  text-decoration: none;
}

p {
  text-align: justify;
  text-justify: inter-word;
  &:has(> img) {
    margin: 0 auto;
    font-style: italic;
  }
}

pre {
  margin: 0 -1em;
  padding: 1em;
  background-color: #eee;
  border-left: none;
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  font-size: 14px;
}

blockquote {
  border-left: 2px solid black;
  margin: 0 0 0 -15px;
  margin-left: -1em;
  padding: 0 0 0 20px;
  font-style: italic;
}

table {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  margin-bottom: 20px;
  overflow-x: scroll;
}

.cover {
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  width: 100%; 
  padding: 0 50rem; 
  margin: 50px -50rem;
}

.title {
  text-align: center;
  font-family: "Noto Sans";
  font-weight: 700;
  text-transform: uppercase;
}

.date {
  color: $date-color;
  font-size: 22px;
  border-bottom: 1px solid $date-color;
  margin-bottom: 6em;

  P {
      text-align: center;
  }

}

.top {
  display: block;
  text-align: center;
  margin: 2em;
  color: #4e4e4e;
}

.comment {
  font-size: 22px;
  line-height: 36px;
  background-image: url(/img/comment-header.svg);
  background-repeat: no-repeat;
  background-position: 60px 10px;
  margin-bottom: 20px;

  .comment-header {
    color: #999;
  }

  .comment-username {
    font-weight: bold;
    color: black;
  }

  a.comment-date {
    color: #999;

    &:hover {
      color: #444;
    }
  }

  .comment-body {
    padding-left: 90px;
    padding-top: 10px;
  }

  img {
    border-radius: 3px;
    vertical-align: middle;
    margin-right: 50px;
  }

  p {
    padding-bottom: 0.75em;
    margin: 0;
    text-align: justified;
  }
}