body {
  display: grid;
  grid-template-columns: auto $max-page-width;
  grid-template-rows: auto auto;
  top: 1rem;
}

body {
  font-family: $text-font;
  max-width: $max-page-width + $navbar-width;
  margin: 0 auto;
  position: relative;
  left: -$navbar-width;
  padding-left: $navbar-width;
  font-size: 18px;
  line-height: 1.6em;
  color: $text-color;
}

// For mobile
#toggle, .fa-bars {
  display: none;
}