body {
  background-color: $bg-color;
  width: $page-width;
  margin: 0 auto;
}

// For mobile
#toggle, .fa-bars {
  display: none;
}

.archive {
  padding: 3em 4em;
  list-style-position: inside;

  li {
    list-style: none;
    padding-bottom: 1em;
  }

  a {
    display: inline;
    font-size: 16px;
    color: #0074D9;
    text-decoration: none;
  }
}