body {
  background-color: $bg-color;
  max-width: $max-page-width + 134px;
  margin: 0 auto;
  position: relative;
  left: -134px;
  padding-left: 134px;
}

body {
  display: grid;
  grid-template-columns: auto $max-page-width;
  grid-template-rows: auto auto;
}

// For mobile
#toggle, .fa-bars {
  display: none;
}

.archive {
  padding: 3em 4em;
  list-style-position: inside;

  li {
    list-style: none;
    padding-bottom: 1em;
  }

  a {
    display: inline;
    font-size: 16px;
    color: #0074D9;
    text-decoration: none;
  }
}