nav {
  display: flex;
  flex-direction: column;
  margin-left: 1em;
  margin-right: 3em;
  grid-column: 1 / 1;

  li {
    display: block;
    list-style: none;
  }

  a {
    font-size: 20px;
    font-family: $link-font;
    color: $link-color;
    text-decoration: none;
    &:hover {
      color: $link-color-highlight;
    }
  }

  .nav-links {
    padding-left: 0;
    line-height: 1.9em;

    .secondary-list {
      font-size: 12px;
      margin-left: 1rem;
    }
  }

  .active {
    color: $link-color-highlight;
  }

  .logo {
    font-size: 30px;
    display: inline-block;
    color: $text-color;
  }
}

@media only screen and (max-width: $max-page-width + $navbar-width) {
  nav {
    flex-direction: row;
    justify-content: center;
    margin-left: 0;
    margin-right: 0;
    .logo {
      align-self: center;
      margin-right: 1em;
      font-size: 24px;
      font-weight: bold;
    }
    .nav-links {
      display: flex;
      flex-wrap: wrap;
    }
    li {
      padding-left: 0.5em;
      padding-right: 0.5em;
      display: block;
      text-align: center;
      border: 1px dotted $link-color;
      flex: 1 1 25%;
      margin: 1px;
    }
  }
}