nav {
  margin-left: 1em;
  margin-right: 2em;
  grid-column: 1 / 1;
  grid-row: 1 / span 2;

  li {
    display: block;
    list-style: none;
  }

  .nav-links {
    padding-left: 0;
    line-height: 1.9em;
  }

  a {
    font: 20px "Helvetica Neue Light";
    font-weight: 300;
    color: $link-color;
    text-decoration: none;

    &:hover {
      color: $text-color;
    }
  }

  .active {
    color: $text-color;
  }

  .logo {
    margin-top: 1rem;
    font-size: 30px;
    display: inline-block;
    color: $text-color;
  }
}