.home-paginate {
  column-count: 2;
  column-gap: 0;

  a {
    text-decoration: none;
  }

}

h1 {
  margin-bottom: 0;
}

.page {
  grid-column: 2 / 2;
  color: $text-color;
  font: $text-font;
}

.category-header {
  text-transform: uppercase;
  display: block;
  border-bottom: 1px dotted black;
  width: 100%;
  text-align: right;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
  font-family: "Roboto";
}

.category {
  display: flex;
  flex-wrap: wrap;
}

section {
  margin-right: 3rem;
  max-width: 50%;
  word-wrap: break-word;
  
  h2 {
    margin-bottom: 0;
    font-family: "Roboto";
    font-size: 22px;
    font-weight: 500;
    color: $text-color;
  }

  ul {
    padding-left: 2.5rem;
    margin-top: .5rem;
    list-style-type: katakana;
  }

  li::marker {
    color: $link-color;
  }

  a {
    font-family: "Helvetica Neue Light";
    font-weight: 300;
    color: $link-color;
    text-decoration: underline;

    &:hover {
      color: $link-color-highlight;
    }
  } 
}

.more {
  font-size: 20px;
  display: block;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 1em;
  text-decoration: none;
}

.title {
  display: block;
  font-family: "Poly", serif;
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
}

.date {
  color: #8b8b8b;
  display: inline;
  font-size: 24px;
}

.description {
  display: inline;
  font-size: 24px;
}

.paginator-image {
  position: relative;
  display: block;
  background: $hover-bg;
  color: white;

  .image {
    vertical-align: top;
    width: 100%;
  }

  .title {
    text-align: center;
    margin: 0 auto;
    width: 95%; 
    position: absolute;
    text-shadow: 2px 2px 2px black;
    bottom: 10px;
    font: bold 32px "Poly", serif;
    z-index: 100;
  }

  &:hover .image {
    opacity: 0.65;
  }
}