.home-paginate {
  column-count: 2;
  column-gap: 0;

  a {
    text-decoration: none;
  }

}

.page {
  // width: $page-width;
  color: $text-color;
  font: $text-font;
}

.more {
  font-size: 20px;
  display: block;
  width: 100%;
  margin-top: 50px;
  text-align: center;
  padding-bottom: 1em;
  text-decoration: none;
}

.title {
  display: block;
  font-family: "Poly", serif;
  font-size: 28px;
  font-weight: bold;
  margin-top: 0;
}

.date {
  color: #8b8b8b;
  display: inline;
  font-size: 24px;
}

.description {
  display: inline;
  font-size: 24px;
}

.paginator-image {
  position: relative;
  display: block;
  background: $hover-bg;
  color: white;

  .image {
    vertical-align: top;
    width: 100%;
  }

  .title {
    text-align: center;
    margin: 0 auto;
    width: 95%; 
    position: absolute;
    text-shadow: 2px 2px 2px black;
    bottom: 10px;
    font: bold 32px "Poly", serif;
    z-index: 100;
  }

  &:hover .image {
    opacity: 0.65;
  }
}