@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Noto+Serif|Open+Sans');

$text-color: #444444;
$link-color: grey;
$page-width: 47em;
$hover-bg: #3A3A3A;
$bg-color: white;
$date-color: #8b8b8b;
$text-font: "Open Sans", "Noto Serif", Georgia, Cambria, "Times New Roman", Times, serif;