@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&family=Open+Sans&family=Roboto:wght@500&display=swap');

$link-color: #4d4d4d;
$link-color-highlight: grey;
$text-color: #333333;
$max-page-width: 780px;
$hover-bg: #3A3A3A;
$bg-color: white;
$date-color: #8b8b8b;
$text-font: "Helvetica Neue Light", Georgia, Cambria, "Times New Roman", serif;