{% include header.html %}

  <body>

    <nav role="navigation">
        <a href="/" class="logo">
            <img src="/img/logo.png" width="200" height="62.5">
        </a>
        <li><a href="/archive" {% if page.url contains "/archive/" %} class="active" {% endif %} title="A list of all my posts">Archive</a>
                
        <li><a href="/projects" {% if page.url contains "/projects/" %} class="active" {% endif %} title="Some of my current projects">Projects</a>
                
        <li><a href="https://www.flickr.com/photos/131853866@N06/" target="_blank" title="My best works">Photography</a>
                
        <li><a href="/about" title="About me">About Me</a>
    </nav>
        
        {{content}}

    {% include footer.html %}

  </body>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
</html>